@font-face {
  font-family: "Sansation";
  src: url("/fonts/Sansation_Bold.woff2");
  font-weight: 400;
}

@font-face {
  font-family: "Sansation";
  src: url("/fonts/Sansation_Regular.woff2");
  font-weight: 700;
}

html {
  font-family: "Sansation", sans-serif;
}
